/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.container-footer{
    width:100%;
    
    bottom: 0; 
    background-color: #7a6854;
}
.head-footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.img-logo-footer{
    width:50px;
    height:50px;
    filter:invert(1)
}
.adress-container{
    font-size:12px;
   
}
.icons-container{
    font-size:20px;
    filter:invert(1)
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

 



}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){

   


}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

    .head-footer{
        display:flex;
        flex-direction:row;
        align-items:center;
    }
  

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}